.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.header {
  background-color: #226dc3;
  padding: 20px;
  text-align: center;
  font-weight: bold;

  width: 100%;

  h1 {
    color: #ffffff;
  }
}

.description {
  padding: 20px;
  text-align: center;
  font-weight: bold;

  width: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: auto;
}

.form-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

  input {
    width: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #226dc3;
  }

  button {
    width: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #226dc3;
    background-color: #226dc3;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }
}

.styled-button {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #226dc3;
    background-color: #226dc3;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }
}

.teams-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: auto;
  height: auto;
  overflow-y: auto;

  h2{
    width: auto;
    text-align: center;
    font-weight: bold;

  }
}

.team-card {
  
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #226dc3;
  background-color: #ffffff;
  color: #226dc3;
  font-weight: bold;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 5px;
  }
}

.footer {
  margin-top: auto;
  background-color: #226dc3;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  p {
    color: #ffffff;
  }
}
