<app-header></app-header>
<div class="home-container">
  <div class="description">
    <p>
      Aqui você pode cadastrar os jogadores que irão participar da partida e
      gerar os times de forma aleatória.
    </p>
  </div>
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <input
        type="text"
        [(ngModel)]="player.name"
        [placeholder]="isLoading ? 'Carregando...' : 'Nome e Sobrenome do Jogador'"
        name="player"
      />
      <button type="submit" [disabled]="isLoading">
        Cadastrar Novo Jogador
      </button>
    </form>
    <div class="styled-button">
      <button (click)="getTeams()" [disabled]="isLoading">Gerar Times</button>
      <button (click)="deleteAll()" [disabled]="isLoading">
        Deletar Todos
      </button>
    </div>
  </div>
</div>
<div class="teams-container">
  <div *ngFor="let team of teamsData | keyvalue">
    <h2>{{ team.key }}</h2>
    <div class="team-card">
      <ul>
        <li *ngFor="let player of team.value">{{ player }}</li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
